<table>
	<tr>
		<td valign="middle" >

			<% form_tag session_path do -%>
				<div id="email"><label for="login">Username <%= text_field_tag 'login' %></label></div>
				<div id="email"><label for="password">Password <%= password_field_tag 'password' %></div></label>

<!-- Uncomment this if you want this functionality
<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me' %></p>
-->
				<div id="email"><%= submit_tag 'Log in' %></div>
				<% end -%>
		</td>
	<tr>
</table>
