<table>
	<tr>
		<td valign="top" >
			<div id="message">Swish offers the chance to whiz <br>
that is to recommend a user_nume or a reference to a site. <br>
Try to say hello and leave you as you notify the relationship between users.</div>

		</td>
	<tr>
</table>

