<table>
	<tr>
		<td valign="top" >
			<div id="message">Suieratura offers the functionality  <br>
							to find and recreate queries colaboratively <br>
							which can be used later on search engines with triple left_click after right_click and select google <br>
							invite your friends to join suieratura or try to find them with recreate query field <br>
							sign up and fill free to send feedbacks on neagaoleg@gmail.com <br>
							</div>
		</td>
	<tr>
</table>

